body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/152/697/original/pexels-kwon-osu-147593907-10502211.jpg?1734087568);
  background-size: 640px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #03424a;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
  color: #03424a;
}

select {
  background-color: rgb(15, 77, 85, 0.8);
  color: white;
  display: block;
  width: 100%;
  font-size: 17px;
  border-radius: 5px;
  padding: 10px;
}

.title {
  text-decoration: none;
  color: #03424a;
}

.title:hover {
  cursor: pointer;
  color: #0c7c89;
}

.container {
  max-width: 600px;
  margin: 42px auto;
  margin-bottom: 30px;
  background-color: rgba(255, 239, 239, 0.7);
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.city {
  display: flex;
  color: #03424a;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

.home {
  text-decoration: none;
  color: #0c7c89;
  font-weight: bold;
  font-size: 18px;
}

.home:hover {
  color: #024c55;
  cursor: pointer;
}

.github {
  text-decoration: none;
  color: yellow;
  font-style: italic;
}

.github:hover {
  cursor: pointer;
  color: white;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
}
